# Server
PORT=8787
# Database
DB_PATH=./data/dv-hub.db
# Telegram
TELEGRAM_BOT_TOKEN=8729285034:
TELEGRAM_BOT_USERNAME=dv_hub_auth_bot
# Email (Resend)
RESEND_API_KEY=re_YOUR_RESEND_API_KEY_HERE
RESEND_FROM_EMAIL=noreply@auth.re-search.wiki
